 body {
     margin: 0;
     background: #783be9de;
     font-family: 'Courier New', monospace;
     padding: 40px 60px;

 }

 .stats-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     max-width: 900px;
     margin: 0 auto;
 }

 .stat {
     padding: 30px 20px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

 /* remove a borda inferior da última linha */
 .stats-grid>.stat:nth-last-child(-n+2) {
     border-bottom: none;
 }

 .stat-number {
     font-size: 48px;
     font-weight: bold;
     color: #4ade80;
     /* verde neon */
     margin: 0 0 8px 0;
 }

 .stat-label {
     font-size: 14px;
     color: #ffffff;
     margin: 0;
 }

 .cards {
     display: flex;
     gap: 20px;
     align-items: flex-start;
     justify-content: center;
 }

 .dev-levels {
     flex: 1 1 150px;
     background: #a172df8a;
     border-radius: 12px;
     padding: 20px;
     color: #fff;
     text-align: center;
 }

 .dev-levels img {
     width: 250px;
     border-radius: 8px;
 }

 button {
     color: #000000;
     border-radius: 20px;
     font-size: 20px;
     background: #E9F87C;
     border: none;
     margin-left: 720px;
     cursor: pointer;
 }

 .sobre-devclub {

  color: #000000b4;
  background: #2020209c;
  padding: 24px;
  border-radius: 12px;
}
.nav-container ul{

list-style: none;
display: flex;
justify-content: flex-start;
flex-wrap:nowrap;
padding: 10px;
gap: 10px;



}
